
  <mat-toolbar style="background-color:rgba(255, 255, 255, 0.671);border:1px solid rgb(212, 200, 200)">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      
      <span> <a class="navbar-brand" href="#">
        <img src="../../assets/logo cariiery.png" alt="Logo" width="20%">
      </a> </span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
       
        <a href="#" mat-button>
          <mat-icon color="primary">home</mat-icon>
          Home
        </a>
        <a href="/resume" mat-button>
          <mat-icon color="primary">description</mat-icon>
          Resume
        </a>
        <a href="/motivationLetter" mat-button>
          <mat-icon color="warn">mail</mat-icon>
          Motivation Letter
        </a>
        <a href="/coachList" mat-button>
          <mat-icon color="primary">devices</mat-icon>
Video Consultation        </a>
        
         
        <a href="/profile" mat-button>
          <mat-icon color="primary">account_box</mat-icon>
          My Account
        </a>
        <a href="#"  mat-button class="notification">
          <mat-icon  color="primary" matBadge="3" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a href="#" mat-list-item>
          <mat-icon color="warn">home</mat-icon>
          Home
        </a>
        <a href="/resume" mat-list-item>
          <mat-icon color="primary">description</mat-icon>
          Resume
        </a>
        <a href="/motivationLetter" mat-list-item>
          <mat-icon color="primary">mail</mat-icon>
          Motivation Letter
        </a>
        <a href="/coachList" mat-list-item>
          <mat-icon color="primary">devices</mat-icon>
Video Consultation        </a>
        
         
        <a href="/resume" mat-list-item>
          <mat-icon color="primary">account_box</mat-icon>
          My Account
        </a>
        <a href="#"  mat-list-item class="notification">
          <mat-icon color="primary" matBadge="1" matBadgeSize="small" matBadgeColor="primary">notifications</mat-icon>
          <span>notifications</span>
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill >

      <h1>motivation-letter works!</h1>
      <button
        *ngIf="!add"
        type="button"
        class="btn btn-success"
        (click)="addMl()"
        style="margin-left: 40%;"
      >
        + Add ML
      </button>
      <div *ngIf="add" style="width: 60%; margin-left: 20%;">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"
            >Email address</label
          >
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="header"
            #header
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Example textarea</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            #body
          ></textarea>
        </div>
        <button (click)="addMl()" type="button" class="btn btn-danger">X</button>
        <button
          type="button"
          class="btn btn-success"
          (click)="addMotivation(header.value, body.value)"
        >
          Success
        </button>
      </div>
      <div *ngFor="let m of mls">
        <div class="card" style="width: 18rem; margin-left: 35%;">
          <div class="card-body">
            <h5 class="card-title">{{m?.header}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">{{m?.body}}.</p>
            <a (click)="oneMl(m._id)" class="card-link">Discover</a>
            <button type="button" (click)="delete(m?._id)" class="btn btn-danger">
              Danger
            </button>
          </div>
        </div>
      </div>   
      

<body id="coverLetter">
  <main>
      <header class="container">
          <div class="row">
              <div class="text-sm-center col-sm-12 col-md-5 col align-middle headerTitle">
                  <h3 class="display-3 cover-letter">Cover Letter</h3>
              </div>
              <div class="text-sm-center pb-sm-2 col-sm-12 col-md-4 col-lg-4 text-md-right headerContactInfo">
                  <h2>Francisco Cruz <br> Developer</h2>
                  <a href="tel:201-621-2019">201-621-2019</a><br>
                  <a href="tel:201-472-3514">201-472-3514</a><br>
                  <a href="mailto:tcm_usa@hotmail.com?Subject=Interested%20Employer">tcm_usa@hotmail.com</a><br>
                  <a href="https://www.linkedin.com/in/frcruz" target="_blank">https://www.linkedin.com/in/frcruz</a>
              </div>
              <div class="text-sm-center col-sm-12 col-md-3 col-lg-2 headerProfileImg">
                  <img class="profileImg" style="border: radius 50%;;" src="https://scontent.ftun3-1.fna.fbcdn.net/v/t1.6435-9/119576552_2926875807539718_5662028280741209455_n.jpg?_nc_cat=105&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=xVICnb-cS8UAX-SU982&_nc_ht=scontent.ftun3-1.fna&oh=f872edd9c2607a1f3d5c965c4702db2b&oe=60AEAFA6" alt="Francisco Cruz, Developer" width="190">
              </div>
          </div>
          
      </header>
      <section>
          <article>
              <br><br>
              <p>
              Greetings!<br><br>
              I am a Software and Web Developer with 5+ years experience in Front-End, Back-End, and Full-Stack scripting, programming, testing, and development. 
              I have experience working for small businesses, fortune 100 and fortune 500 companies.
              Also, I have experience working across departments, teams (in-house and International), as well as client-facing.<br><br>
              As a consultant and freelancer, I acquired in-depth non-technial skills and experience such as requirement gathering, planning, team collaboration, research, design / technical presentations, product reviews, handling meetings, managerial and project management skills, and client relationships among other relevant programming skills. </p>
              
              <p>For more information, please see my recommendations, reviews, and ratings at:</p>
              <ul class="icon">
                  <li><i class="material-icons">open_in_new</i>  <a href="https://www.linkedin.com/in/frcruz" target="_blank">https://www.linkedin.com/in/frcruz</a> (please view the embedded portfolio on my LinkedIn profile)</li>
              </ul>
              <hr class="my-4">
      </article>
      
      </section>
  </main>
  
  </body>
  <button
        mat-raised-button
        color="primary"
        value="Generate PDF"
        (click)="getMotivationLetter()"
      >
        Generate PDF
      </button>
  
    
    </mat-sidenav-content>
    
  </mat-sidenav-container>


