<mat-toolbar
  style="
    background-color: rgba(255, 255, 255, 0.671);
    border: 1px solid rgb(212, 200, 200);
  "
>
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>

    <span>
      <a class="navbar-brand" href="#">
        <img src="../../assets/logo cariiery.png" alt="Logo" width="20%" />
      </a>
    </span>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->

      <a href="#" mat-button>
        <mat-icon color="warn">home</mat-icon>
        Home
      </a>
      <a href="/form" mat-button *ngIf="!vesitor">
        <mat-icon color="primary">description</mat-icon>
        Create Resume
      </a>
      <a href="/resume" mat-button *ngIf="vesitor">
        <mat-icon color="primary">description</mat-icon>
        Resume
      </a>
      <a href="/motivationLetter" mat-button *ngIf="vesitor">
        <mat-icon color="primary">mail</mat-icon>
        Motivation Letter
      </a>
      <a href="/coachList" mat-button *ngIf="vesitor">
        <mat-icon color="primary">devices</mat-icon>
        Video Consultation
      </a>

      <a href="/profile" mat-button *ngIf="vesitor">
        <mat-icon color="primary">account_box</mat-icon>
        My Account
      </a>
      <a href="#" mat-button class="notification" *ngIf="vesitor">
        <mat-icon
          color="primary"
          matBadge="3"
          matBadgeColor="warn"
          matBadgeSize="small"
          >notifications</mat-icon
        >
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a href="#" mat-list-item>
        <mat-icon color="warn">home</mat-icon>
        Home
      </a>
      <a href="/resume" mat-list-item>
        <mat-icon color="primary">description</mat-icon>
        Resume
      </a>
      <a href="/motivationLetter" mat-list-item>
        <mat-icon color="primary">mail</mat-icon>
        Motivation Letter
      </a>
      <a href="/coachList" mat-list-item>
        <mat-icon color="primary">devices</mat-icon>
        Video Consultation
      </a>

      <a href="/resume" mat-list-item>
        <mat-icon color="primary">account_box</mat-icon>
        My Account
      </a>
      <a href="#" mat-list-item class="notification">
        <mat-icon
          color="primary"
          matBadge="1"
          matBadgeSize="small"
          matBadgeColor="primary"
          >notifications</mat-icon
        >
        <span>notifications</span>
      </a>
      <a (click)="sidenav.toggle()" mat-list-item>
        <mat-icon>close</mat-icon> Close
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxFlexFill>
    <body>
      <!-- Navbar -->

      <!-- akhir Navbar -->

      <!-- Jumbotron -->
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">
            Create your resume <span>fast</span> <br />and
            <span>Increase you chances</span> to get the position you deserve
          </h1>
        </div>
      </div>
      <!-- akhir Jumbotron -->

      <!-- container -->
      <div class="container">
        <!-- info panel -->
        <div class="row justify-content-center">
          <div class="col-10 info-panel">
            <div class="row">
              <div class="col-sm">
                <a (click)="cvClicked()">
                  <img
                    src="../../assets/cv.png"
                    alt="Employee"
                    class="img-fluid float-left"
                  />
                  <h4>24 Hours</h4>
                  <p>You will recieve the feedback in Less than 24 Hours.</p></a
                >
              </div>
              <div class="col-lg">
                <a (click)="motivationLetterClicked()">
                  <img
                    src="../../assets/Letter of Motivation.png"
                    alt="HiRes"
                    class="img-fluid float-left"
                  />
                  <h4>Motivation-Letter</h4>
                  <p>Lorem ipsum dolor sit amet.</p></a
                >
              </div>
              <div class="col-lg">
                <a (click)="consultationClicked()">
                  <img
                    src="../../assets/Consultation.png"
                    alt="Security"
                    class="img-fluid float-left"
                  />
                  <h4>Video Coaching</h4>
                  <p>Lorem ipsum dolor sit amet.</p></a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- akhir info panel -->

        <!-- Workingspace -->
        <div class="row workingspace">
          <div class="col-lg-6">
            <img
              src="../../assets/workingspace.png"
              alt="Working Space"
              class="img-fluid"
            />
          </div>
          <div class="col-lg-5">
            <h2>You <span>Work</span> Like at <span>Home</span></h2>
            <p>
              Bekerja dengan suasana hati yang lebih asik, menyenangkan dan
              mempelajari hal baru setiap harinya.
            </p>
            <a href="#" class="btn btn-danger tombol">Gallery</a>
          </div>
        </div>
        <!-- akhir Workingspace -->

        <!-- Testimonial -->
        <section class="testimonial">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <p>
                "Bekerja dengan suasana hati yang lebih asik dan mempelajari hal
                baru setiap harinya."
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-6 justify-content-center d-flex">
              <img src="../../assets/img1.png" alt="Testimonial 1" />
              <img
                src="../../assets/img2.png"
                alt="Testimonial 2"
                class="img-main"
              />
              <img src="../../assets/img3.png" alt="Testimonial 3" />
            </div>
          </div>
          <div class="row justify-content-center info-text">
            <div class="col-lg text-center">
              <h5>Sunny Ye</h5>
              <p>Designer</p>
            </div>
          </div>
        </section>
        <!-- akhir Testimonial -->
      </div>
      <!-- akhir container -->

      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"
      ></script>
      <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"
      ></script>
    </body>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="card" style="width: 18rem;" *ngFor="let c of coaches">
    <img
      src="https://www.dynamique-mag.com/wp-content/uploads/ef380d36048b77d135e3236401aac6e8.jpg"
      class="card-img-top"
      alt="..."
    />
    <div class="card-body">
      <h5 class="card-title">{{ c?.username}}</h5>
      <p class="card-text">
        this is a coach provided by admin.
      </p>
      <a (click)="goToOneCoatch(c._id)" class="btn btn-primary"
        >ask for feedback</a
      >
    </div>
  </div> -->
